<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Pagee</title>
</head>
<body>
    {{> header}}
   <h2>Portfolio</h2>
   <ul>
<li>Stuff</li>
<li>More stuff</li>
<li>Some more stuff</li>

   </ul>
   {{> footer}}
</body>
</html>